header{
    height: 50px;;
    background-image:url(images/Screenshot\ 2026-09-26\ at\ 17-35-42\ .png);}
.Pushcha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.center{
    color: white;
    text-align: center;
}
.Braslav{
    height: 700px;
}