header{
    height: 50px;;
    background-image:url("../images/belarus.png");}
.center{
    color: white;
    text-align: center;
}
.flex{
    display: flex;
    gap: 20px;
    align-items: center;
}